@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

:root {
    font-size: 18px;
}

body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

section, header {
    color: white;
    padding: 2rem 10rem;
}

h1, h2 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
}

.intro__description {
    text-align: center;
}

#servicos {
    background-color: whitesmoke;
    color: black;
}